/* ---- SERVICES ---- */
.services-grid {
  margin-top:2rem;
  position:relative;
  justify-content: center;
  display:flex;
  justify-items: center;
}

.services-container{
justify-items: center;
justify-content: center;
width:80vw;
}

.services-subgrid{
    justify-items: center;
    height:auto;
    position:relative;
    display:grid;
    row-gap: 10rem;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: if(style(--test:1):1px solid green; else:none);

}

.service-subcontainer{
transition:0.3s;
}
.services-subcontainer h3:hover {
filter: brightness(150%);
}

.services-card {
    justify-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    transition:0.3s;
    text-align: justify;

}

.services-card:hover,.services-subcontainer h3:hover,.services-subcontainer h2:hover {
filter: brightness(150%);
}
.services-card-empty {
height:2rem;
}

.services-subcontainer h3 {
  padding: 0.5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(1.2rem,2vw,1.4rem);
    font-weight: 600;
    margin-bottom: 0.7rem;
    transition:0.3s;
}
.services-subcontainer h2 {
  padding-left: 0.5rem;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1;
    font-size: clamp(1.3rem,2.5vw,1.9rem);
    font-weight: 600;
    transition:0.3s;

}
.services-card p {
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 1.6;
}


.image-flex {
  position:relative;
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  gap:0.3rem;
  border-radius: 8px;
  border: if(style(--test:1):1px solid red; else:none);
  transition: transform 0.5s;
}

.image-container{
  max-width:  49.4%;

 margin:0 auto;
  padding: 1px;
  overflow: hidden;
  background-color: var(--bg-dark);
  border-radius: 8px;
  border: var(--bg-card);
  transition: transform 0.5s;
}
.image-container-white{
  max-width:  49.4%;
  margin:0 auto;
  padding: 1px;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border: var(--bg-card);
  transition: transform 0.5s;
}

.image-container img,.image-container-white img{
  width:100%;
  height: auto;
  display: block;
  margin: 0 auto
}


.image-container:hover,.image-container-white:hover{
transform: scale(1.02);
}
.image-flex:hover{
transform: scale(1.01);
}

.image-flex img{
  width:100%;
}

.image-bento{
  display:grid;
  width:100%;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows:auto;
  align-content: start;
  align-items: start;
  gap:0.3rem;
  grid-template-areas: 
  "box-1 box-2"
  "box-1 box-3";
  height:fit-content;
    transition: transform 0.5s;

}
.image-bento:hover{
transform: scale(1.01);
}

.image-bento-box{
  overflow: hidden;
  background-color: var(--bg-dark);
  border-radius: 8px;
align-self: stretch;
  transition: transform 0.5s;
    border: var(--bg-card);
}
.image-bento-box:hover{
transform: scale(1.02);
}


.image-bento-box video, .image-bento-box-portrait video,.image-bento-box img{
  width:100%;
  scale: 1.1;

}



