.workflow{
    display:flex;
    justify-content:center;
    width:100%;
}

.workflow-v{
    display:none;
    justify-content:center;
    width:100%;
}
.workflow-v img{

    width:100%;
}
.workflow img{
    max-width:1400px;
    width:90%;
}